

@using (Html.BeginForm("Search", "Forms", FormMethod.Post, new { enctype = "multipart/formdata" }))
{
    <form class="form-inline md-form mr-lg-auto ">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="Ara" name="Ara" >
        <button class="btn btn-outline-warning btn-rounded btn-sm my-0" type="submit" value="Ara">Search</button>
    </form>
}
